<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'ホーム', new_user_session_path %>
      <p>こんにちは、<%= link_to current_user.name, users_show_path %></p>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <hr>
      <br>
    <% else %>
      <%= link_to 'ホーム', destroy_user_session_path, method: :delete  %>
      <%= link_to "サインイン", new_user_session_path %>
      <%= link_to "ユーザー登録", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
